@import url('https://fonts.googleapis.com/css?family=Righteous'); /*     font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre'); /* font-family: 'Miriam Libre', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron'); /*  font-family: 'Cuprum', sans-serif;  font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One'); /* font-family: 'Alfa Slab One', cursive; */
.h1{
    font-family: 'Orbitron', sans-serif;
    margin-left:25px;
    margin-top:3px;
}
#form{
    margin-left: 25px;
    
}