@import url('https://fonts.googleapis.com/css?family=Righteous'); /*     font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre'); /* font-family: 'Miriam Libre', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron'); /*  font-family: 'Cuprum', sans-serif;  font-family: 'Orbitron', sans-serif; */
.AceBody{
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.bodyA{
    background-color: #D1C4E9;
    
}
.bodyA :hover{
    border-radius: 20px;
    background-color: #B3E5FC;
    transition-duration:1s;
}
#bolum1{  
    width: 400px;
    height: 200px;
    margin-left: 12px;
    margin-top:12px;
    border: ridge;
    border-radius: 20px;
    background-color: transparent;
    float: left;
}
#bolum2{
    width: 400px;
    height: 200px;
    margin-left: 12px;
    margin-top:12px;
    border: ridge;
    border-radius: 20px;
    background-color:transparent;
    float: left;
}
#bolum3{
    width: 400px;
    height: 200px;
    margin-left: 12px;
    margin-top:12px;
    border: ridge;
    border-radius: 20px;
    background-color: transparent;
    float: left;

}
.baslik{
    text-align: center;
    color:#006064;
    font-family: 'Orbitron', sans-serif;
}
.linkler{
    font-family: 'Righteous',cursive;
    color:#00695C;
    text-decoration: none;
    vertical-align: baseline;
}

#makale1{
    font-family: 'Righteous',cursive;
    color:#00695C;
}
.resim{
    width: 380px;
    height: 180px;
    border-radius: 20px;
}
#Hresim1{
    display: none;
}
#Hresim2{
    display: none;
}
#Hresim3{
    display: none;
}
#Hresim4{
    display: none;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(./images/cool-background1.png);
    background-size: cover;
    background-repeat: no-repeat;
}